.contacts {
    &__link {
        display: flex;
        align-items: center;
        column-gap: 0.94rem;
    }

    &__info {
        h1 {
            color: #fff;
            font-size: 0.75rem;
            font-style: normal;
            font-weight: 500;
            line-height: 1rem;
        }

        h2 {
            color: rgba(255, 255, 255, 0.8);
            font-size: 0.625rem;
            font-style: normal;
            font-weight: 300;
            line-height: 1rem;
        }
    }
}
