.page {
    margin-top: 4.2rem;
    max-width: 47.625rem;
    border-radius: 0.75rem;
    background: #272932;
    padding: 1.63rem 2.37rem 1rem 2.12rem;

    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 2rem;
    }

    &__title {
        display: flex;
        align-items: center;
        column-gap: 0.59rem;

        h1 {
            color: #8c67f6;
            font-size: 0.875rem;
            font-style: normal;
            font-weight: 700;
            line-height: 2.375rem; /* 271.429% */
            text-transform: capitalize;
        }
    }

    &__create {
        display: flex;
        align-items: center;

        button {
            border-radius: 0.375rem;
            border: 1px solid #8c67f6;
            padding: 0.45rem;
            color: #8c67f6;
            font-size: 0.75rem;
            font-style: normal;
            font-weight: 600;
            line-height: 170%;
            transition: all 0.18s ease 0s;

            &:hover {
                background-color: #8c67f6;
                color: #272932;
            }
        }
    }
}

.post {
    &__header {
        display: flex;
        align-items: center;
        column-gap: 1rem;
        &:not(:last-child) {
            margin-bottom: 1.3125rem;
        }
    }

    &__text {
        max-width: 37.125rem;
        color: #fff;

        font-size: 0.6875rem;
        font-style: normal;
        font-weight: 300;
        line-height: 170%;
        letter-spacing: 0.01375rem;
    }

    &__more_btn {
        img {
            width: 0.9375rem;
        }
    }

    &__content {
        &:not(:last-child) {
            margin-bottom: 1.3125rem;
        }
    }

    &__actions {
        display: flex;
        column-gap: 0.5rem;
        align-items: center;

        h6 {
            color: #fff;
            font-size: 0.8125rem;
            font-style: normal;
            font-weight: 400;
            line-height: 170%;
        }
    }
}
