.nav {
    background-color: #272932;
    padding: 3.38rem 1.87rem 3.19rem 2rem;

    &__list {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__item:first-child {
        margin-bottom: 11.25rem;
    }

    &__item {
        display: flex;
        justify-content: center;
    }

    &__item:not(:first-child) {
        margin-top: 2.72rem;
        position: relative;
    }

    &__item:last-child {
        margin-top: 17.999rem;
        border-top: 1px solid rgba(143, 143, 143, 1);
        padding-top: 2.86rem;
        width: 3.68rem;
    }

    &__link {
    }

    &__img {
        position: relative;
        z-index: 100;
        width: 1.51rem;
        height: 1.51rem;
    }
}

.active {
    position: relative;
    transition: background 1s ease 0s;

    &::after {
        z-index: 1;
        content: "";
        position: absolute;
        left: -1.813rem;
        bottom: -1.688rem;
        width: 7.125rem;
        height: 4.75rem;
        background: #1a1c26;
        border-top-left-radius: 30px;
        border-bottom-left-radius: 30px;
    }
}
