@import "../../../assets/Base.module.scss";
.actions {
    margin-top: 1.81rem;
    max-width: 45.5rem;
    display: flex;
    justify-content: center;
    column-gap: 1.62rem;

    &__btn {
        width: 6.125rem;
        height: 2.3125rem;
        border-radius: 0.375rem;
        background: linear-gradient(180deg, $puprle-background-color 0%, $purple-second-gradient-color 100%);
        color: $white-color;
        font-size: 0.85rem;
        font-style: normal;
        font-weight: 600;
        line-height: 170%;
        transition: padding 0.2s ease 0s;

        &:hover {
            padding-bottom: 0.37rem;
        }
    }
}
